<!doctype html>
<html>
  <head>
    <title>Bertie's Book Shop</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Bertie's Book Shop</h1>
    <ul>
      <% for (let i = 0; i < books.length; i++) { %>
        <li><%= books[i].name %>, £<%= books[i].price %></li>
      <% } %>
    </ul>
  </body>
</html>